<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustSignupServlet</servlet-name>
        <servlet-class>Controller.CustSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLoginServlet</servlet-name>
        <servlet-class>Controller.CustLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendLoginServlet</servlet-name>
        <servlet-class>Controller.VendLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendSignupServlet</servlet-name>
        <servlet-class>Controller.VendSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLogoutServlet</servlet-name>
        <servlet-class>Controller.CustLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendLogoutServlet</servlet-name>
        <servlet-class>Controller.VendLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendApproveServlet</servlet-name>
        <servlet-class>Controller.VendApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendBlockServlet</servlet-name>
        <servlet-class>Controller.VendBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendDeleteServlet</servlet-name>
        <servlet-class>Controller.VendDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendUpdateServlet</servlet-name>
        <servlet-class>Controller.VendUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendPostAdd</servlet-name>
        <servlet-class>Controller.VendPostAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendPostDeleteServlet</servlet-name>
        <servlet-class>Controller.VendPostDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateServlet</servlet-name>
        <servlet-class>Controller.RateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustSignupServlet</servlet-name>
        <url-pattern>/CustSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLoginServlet</servlet-name>
        <url-pattern>/CustLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendLoginServlet</servlet-name>
        <url-pattern>/VendLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendSignupServlet</servlet-name>
        <url-pattern>/VendSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLogoutServlet</servlet-name>
        <url-pattern>/CustLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendLogoutServlet</servlet-name>
        <url-pattern>/VendLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendApproveServlet</servlet-name>
        <url-pattern>/VendApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendBlockServlet</servlet-name>
        <url-pattern>/VendBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendDeleteServlet</servlet-name>
        <url-pattern>/VendDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendUpdateServlet</servlet-name>
        <url-pattern>/VendUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendPostAdd</servlet-name>
        <url-pattern>/VendPostAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendPostDeleteServlet</servlet-name>
        <url-pattern>/VendPostDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateServlet</servlet-name>
        <url-pattern>/RateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
